<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="patientenverwaltung"
                      transaction-type="RESOURCE_LOCAL">
        <class>de.csh.patientenverwaltung.entity.Patient</class>
        <class>de.csh.patientenverwaltung.entity.Voruntersuchungstermin</class>
        <class>de.csh.patientenverwaltung.entity.Raum</class>
        <class>de.csh.patientenverwaltung.entity.Operationstermin</class>
        <class>de.csh.patientenverwaltung.entity.Mitarbeiter</class>
        <class>de.csh.patientenverwaltung.entity.Arbeitstag</class>
        <class>de.csh.patientenverwaltung.entity.Augenarzt</class>
        <class>de.csh.patientenverwaltung.entity.AugenarztAngestellte</class>
        <class>de.csh.patientenverwaltung.entity.Krakenkasse</class>
    </persistence-unit>
</persistence>
